amqp==2.4.2
aylien-apiclient==0.7.0
billiard==3.5.0.5
celery==4.2.1
certifi==2018.8.24
chardet==3.0.4
decorator==4.0.11
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.1
django-extensions==2.1.0
django-heroku==0.3.1
dnspython==1.16.0
eventlet==0.24.1
greenlet==0.4.15
gunicorn==19.9.0
httplib2==0.12.1
idna==2.7
imageio==2.1.2
inflection==0.3.1
kombu==4.4.0
monotonic==1.5
moviepy==0.2.3.2
mysqlclient==1.4.2.post1
numpy==1.16.2
oauthlib==3.0.1
Pillow==6.0.0
profanityfilter==2.0.6
psycopg2==2.7.5
PyJWT==1.7.1
PySocks==1.6.8
python-dateutil==2.7.3
python3-openid==3.1.0
pytz==2018.5
requests==2.11.1
requests-oauthlib==1.2.0
requests-toolbelt==0.7.0
simplejson==3.16.0
six==1.11.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
tqdm==4.11.2
tweepy==3.7.0
urllib3==1.23
vine==1.2.0
Werkzeug==0.13
whitenoise==4.1.2
xmltodict==0.12.0
