 {% load static %}
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->

        <ol class="align-items-center sa-page-ribbon breadcrumb" style='justify-content: flex-end' aria-label="breadcrumb" role="navigation">
                <li class="btn btn-primary mr-2"><a href="/Project">Projects</a></li>
                <li class="btn btn-primary"><a href="/Project">Account Settings</a></li>            
        </ol>
