{% load static %}
<!-- ============================================================== -->
<!-- customizer Panel -->
<!-- ============================================================== -->
<div class="sa-aside-left">

  <a href="javascript:void(0)" class="sa-sidebar-shortcut-toggle">
    <span>Hodos Analytics </span>
  </a>
  <div class="sa-left-menu-outer">
    <ul class="metismenu sa-left-menu" id="menu1">
      <li class="">
        <a href="/dashboard" title="Home"><em style='float:right' class="fa fa-home"></em> Home </a>
      </li><!-- second-level -->
      <li class="top-menu-invisible ">
        <!-- first-level -->
        <a class="has-arrow" href="#" title="SmartAdmin Intel"><span class="fa fa-lg fa-fw fa-cube text-blue"></span>
          <span class="menu-item-parent">Analysis</span>
          <b class="collapse-sign">
            <em class="fa fa-plus-square-o"></em>
            <em class="fa fa-minus-square-o"></em>
          </b>
        </a>
        <ul aria-expanded="true" class="sa-sub-nav collapse">
          <li>
            <a href="/dashboard/sentiment/{{project.id}}" title="Analytics Dashboard"> Sentiment Analysis </a>
          </li><!-- second-level -->
          <li>
            <a href="/dashboard/arabizi" title="Analytics Dashboard"> Arabizi Analysis </a>
          </li><!-- second-level -->
          <li>
            <a href="/dashboard/crisis/{{project.id}}" title="Analytics Dashboard"> Crisis Analysis </a>
          </li><!-- second-level -->
          <li>
            <a href="/dashboard/intent/{{project.id}}" title="Analytics Dashboard"> Intent Analysis </a>
          </li><!-- second-level -->
        </ul>
      </li>

      <li class="top-menu-invisible ">
        <!-- first-level -->
        <a class="has-arrow" href="#" title="SmartAdmin Intel"><span class="fa fa-lg fa-fw fa-cube text-blue"></span>
          <span class="menu-item-parent">Dashboards</span>
          <b class="collapse-sign">
            <em class="fa fa-plus-square-o"></em>
            <em class="fa fa-minus-square-o"></em>
          </b>
        </a>
        <ul aria-expanded="true" class="sa-sub-nav collapse">
          <li>
            <a href="/dashboard/finance" title="Analytics Dashboard"> Finance Analysis </a>
          </li><!-- second-level -->
          <li>
            <a href="/dashboard/entity" title="Analytics Dashboard"> Entity Analysis </a>
          </li><!-- second-level -->
          <li>
            <a href="/dashboard/guard/{{project.id}}" title="Analytics Dashboard"> Guard Analysis </a>
          </li><!-- second-level -->
          <li>
            <a href="/dashboard/reputation" title="Analytics Dashboard"> Reputation Analysis </a>
          </li><!-- second-level -->
          <li>
            <a href="/dashboard/topic" title="Analytics Dashboard"> Topics Analysis </a>
          </li><!-- second-level -->
        </ul>
      </li>


      <li class="">
        <a href="#" title="Create A Project" data-toggle='modal' data-target='#createmodal'> Create a Project <em
            style='float:right' class="fa fa-plus-square-o"></em></a>
      </li><!-- second-level -->
      <!-- first-level -->

      </li>
      <li class="top-menu-invisible ">
        <!-- first-level -->
        <a class="has-arrow" href="#" title="SmartAdmin Intel"><span class="fa fa-lg fa-fw fa-cube text-blue"></span>
          <span class="menu-item-parent">Projects</span>
          <b class="collapse-sign">
            <em class="fa fa-plus-square-o"></em>
            <em class="fa fa-minus-square-o"></em>
          </b>
        </a>
        <ul aria-expanded="true" class="sa-sub-nav collapse">
          {% for pro in projects %}
          <li class="">
            <a href="/dashboard/main/{{pro.id}}" title="Project"><span class="fa fa-lg fa-breifcase"></span>
              <span>{{pro.title}}</span>
            </a>
          </li>
          {% endfor %}
        </ul>

      </li>
      <li class="">
        <a href="/accounts/logout" title="Project"><span class="fa fa-lg fa-user"></span>&nbsp&nbsp&nbsp
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
  <a href="javascript:void(0)" class="minifyme" onclick="SAtoggleClass(this, 'body', 'minified')">
    <i class="fa fa-arrow-circle-left hit"></i>
  </a>
</div>