<footer class="sa-page-footer">
    <div class="d-flex align-items-center w-100 h-100">
      <div class="footer-left">
        SmartAdmin 1.9.X - <span class="footer-txt">Web Application Framework</span> &copy; 2017-2019            
      </div>
      <div class="ml-auto footer-right">
        <i class="hidden-xs text-blue-light">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong> </i>
        <div class="btn-group dropup">
          <button class="btn btn-xs dropdown-toggle sa-btn-blue" data-toggle="dropdown">
            <i class="fa fa-link"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <div class="padding-5">
                <p class="text-darken font-sm m-0">Download Progress</p>
                <div class="progress progress-micro m-0">
                  <div class="progress-bar bg-success" style="width: 50%;"></div>
                </div>
              </div>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <div class="padding-5">
                <p class="text-darken font-sm m-0">Server Load</p>
                <div class="progress progress-micro m-0">
                  <div class="progress-bar bg-success" style="width: 20%;"></div>
                </div>
              </div>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <div class="padding-5">
                <p class="text-darken font-sm m-0">Memory Load <span class="text-danger">*critical*</span></p>
                <div class="progress progress-micro m-0">
                  <div class="progress-bar bg-danger" style="width: 70%;"></div>
                </div>
              </div>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <div class="padding-5">
                <button class="btn btn-block btn-default">refresh</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

</footer>
