<div
  class="com-clone d-none widget-body card card-2 p-0 mt-2"
  style="position:relative"
>
  <section
    class="mention mention-box mention-site-4"
    id="mention_result_34364582556"
  >
    <div class="header">
      <div class="avatar" id="mention_avatar_34364582556">
        <a
          onclick="groupsTitle(34364582556,4)"
          target="_blank"
          href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
        >
          <img src="" class="com-user-img" />
          <span class="play-button">
            <i class="fa fa-youtube-play"></i>
          </span>
        </a>
      </div>
      <div class="author">
        <div class="mention-title-box">
          <a
            id="mention_title_34364582556"
            onclick="setResultAsVisited(34364582556,4)"
            target="_blank"
            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
          >
            <i class="fa  com-source"></i>

            <span class="com-user-name">KSIOlajidebtHD</span>
          </a>
        </div>
        <p class="followers-count">
          <span class="followers-count-no com-user-follow">5.9m</span> Followers
        </p>
        <div class="visited-box" id="visited-box-34364582556"></div>
        <span class="mention-source "
          ><i class="fa fa-calendar"></i> <span class="com-date"></span>
        </span>
      </div>
      <ul class="mention-information" id="mention-information-34364582556">
        <li>
          <a
            onclick="setResultAsVisited(34364582556,4)"
            target="_blank"
            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
            class="mention-source mention_source"
            hidden_source_url="http://www.youtube.com/channel/UCGmnsW623G1r-Chmo5RB4Yw"
            ><i class="fa fa-share-alt"></i> youtube.com
          </a>
        </li>
        <li class="score">
          Influencer Score: <strong>10/10</strong>
          <div class="influence-score">
            <span style="width:100%"></span>
          </div>
        </li>
        <li id="li-mention-sentiment-34364582556">
          <select
            id="mention-sentiment-34364582556"
            name="mention-sentiment-34364582556"
            class="sentiment"
            onchange="javascript:setSentimentInDB(34364582556, this.value)"
          >
            <option selected="" value="0">Neutral</option>
            <option value="1">Positive</option>
            <option value="2">Negative</option>
          </select>
        </li>
        <li class="social-stats">
          <p class="likes"><i class="fa fa-thumbs-o-up"></i> 122422</p>
          <p class="likes"><i class="fa fa-thumbs-o-down"></i> 2361</p>
          <p class="comments"><i class="fa fa-comment-o"></i> 8451</p>
        </li>
      </ul>
    </div>
    <div class="description">
      <p class="mention_text w-75" id="mention_text_34364582556"></p>
      <a id="groupButtonResult_34364582556" href=",[-666]);"></a>
      <li
        class="added-groups groupsListResult"
        id="groupsListResult_34364582556"
        style="display:none;"
      ></li>
    </div>
  </section>
</div>
