<div class='col-md-3'>
    <div class="widget-body search-sidebar card card-2 p-3 pt-4 pl-4">
        <div class="row" style=''>
            <div class="col-md-12 ">
                <h4 class='filter-man-head'>Search Filters</h4>

                <h5 class='filter-heading'>Social Channel</h5>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Facebook</span>
                    </label>
                </div>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Twitte</span>
                    </label>
                </div>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Instagram</span>
                    </label>
                </div>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Youtube</span>
                    </label>
                </div>

                <h5 class='filter-heading'>Date</h5>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Last Day</span>
                    </label>
                </div>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Last 3 Days</span>
                    </label>
                </div>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Last Week</span>
                    </label>
                </div>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Last 10 Days</span>
                    </label>
                </div>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Last Month</span>
                    </label>
                </div>

                <h5 class='filter-heading'>Date</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">From</label>
                        <input type='text' name='datefrom' class='form-control' />
                    </div>
                    <div class="col-md-6">
                        <label for="">To</label>
                        <input type='text' name='dateto' class='form-control' />
                    </div>
                </div>


                <h5 class='filter-heading'>Language</h5>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>English (101)</span>
                    </label>
                </div>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>French (101)</span>
                    </label>
                </div>
                <div class="vcheck">
                    <label>
                        <input type="checkbox" class="checkbox style-0" checked="checked">
                        <span>Arabic (101)</span>
                    </label>
                </div>

                <h5 class='filter-heading'>Sentiment</h5>
                <div class="" style='display:flex;justify-content: space-between'>
                    <span class='text-center'>(101) <br> Negative</span>
                    <span class='text-center'>(101) <br> NEUTRAL</span>
                    <span class='text-center'>(101) <br> Positive</span>
                </div>
                <input type='range' min='1' max='3' value='1' step='1' class="n n3" />

            </div>
        </div>
    </div>
</div>
