{% extends 'core/app.html' %}

{% load static %}

{% block 'content' %}

<style>
    .positive {
        color: white;
        background: #6595b4;
        display: inline-block;
        padding: 0.4em 0.9em;
        font-weight: 500;
    }

    .negative {
        color: white;
        background: #FF9F01;
        display: inline-block;
        padding: 0.4em 0.9em;
        font-weight: 500;
    }

    .nuetral-number {
        color: orange;
        font-size: 2em;
        font-weight: 600;
        margin: 0;
    }

    .nuetral-positive {
        color: green;
        font-size: 2em;
        font-weight: 600;
        margin: 0;
    }

    .nuetral-negative {
        color: #f44336;
        font-size: 2em;
        font-weight: 600;
        margin: 0;
    }

    #graph-B {
        margin: 0 !important
    }

    .page-header span {
        color: gray;
        font-size: 0.75em;
        margin-left: 10px;
    }

    .progress-bars>div:first-child {
        margin-top: 20px
    }

    .progress-bars p {
        font-size: 1.4em;
    }

    .progress-bars>div>p:first-child {
        margin: 0;
        padding-top: 4px
    }

    .progress-bars .number-pro {
        font-size: 1.6em;
    }

    .pro-bar-container {
        width: 100%;
        height: 15px;
        background: gainsboro;
    }

    .pro-bar-container .pro-progress {
        background-color: #1e88e5;
    }

    .influent-side p {
        margin-bottom: 2px !important
    }

</style>

<div class="sa-content container">


    <div class="d-flex w-100 home-header">
        <div>
            <h1 class="page-header">Brand Analysis</h1>
        </div>
    </div>
    <div class="d-flex w-100">
        <section id="widget-grid" class="w-100">
            <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false"
                data-widget-editbutton="false" role="widget">
                <div role="content">
                    <div class="row">
                        <div class="col-md-9">
                            <div class='card card-2 p-3'>
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="row res-numbers">
                                            <div class="col-md-4 text-center">
                                                <p class='nuetral-number'>666</p>
                                                <p>Total Mentions</p>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <p class='nuetral-negative'>333</p>
                                                <p>Negative results</p>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <p class='nuetral-positive'>999</p>
                                                <p>Positive results</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6 class='sec-heads'>Most Active Sites</h6>
                                                <canvas id="doughnutChart1" height="220"></canvas>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6 class='sec-heads'>Number Of Mentions</h6>
                                                <div id="graph-B" class="chart no-padding"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6 class='sec-heads'>Most Active Languages</h6>
                                                <div class="progress-bars">
                                                    <div style='display:flex;justify-content: space-between'>
                                                        <p>French</p> <span class="number-pro">435</span>
                                                    </div>
                                                    <div>
                                                        <div class="pro-bar-container">
                                                            <span class='pro-progress'
                                                                style='width:80%;height:100%;display: block'></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="progress-bars">
                                                    <div style='display:flex;justify-content: space-between'>
                                                        <p>English</p> <span class="number-pro">435</span>
                                                    </div>
                                                    <div>
                                                        <div class="pro-bar-container">
                                                            <span class='pro-progress'
                                                                style='width:80%;height:100%;display: block'></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="progress-bars">
                                                    <div style='display:flex;justify-content: space-between'>
                                                        <p>Arabic</p> <span class="number-pro">435</span>
                                                    </div>
                                                    <div>
                                                        <div class="pro-bar-container">
                                                            <span class='pro-progress'
                                                                style='width:80%;height:100%;display: block'></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-12" style='margin-top:5.6em'>
                                                <h6 class='sec-heads mt-3'>Sentiment</h6>
                                                <div id="site-stats" class="chart has-legend"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row influent-side">
                                            <div class="col-md-12">
                                                <h6 class='sec-heads'>Most Influential</h6>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h6 class='sec-heads'>The Most Active</h6>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="{% static 'images/download.png' %}" alt="">
                                                        <p class='text-center' style='font-size:0.6em'>Hameed</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h6 class='sec-heads'>Share of voice</h6>
                                        <canvas id="doughnutChartpie" height="220"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% include 'core/includes/search-sidebar.html' %}


                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end row -->

        </section>
    </div>
</div>
{% endblock 'content' %}


{% block foot_js %}
<script>
    // negative value
    if ($('#graph-B').length) {
        var neg_data = [{
            "period": "2011-08-12",
            "a": 100
        }, {
            "period": "2011-03-03",
            "a": 75
        }, {
            "period": "2010-08-08",
            "a": 50
        }, {
            "period": "2010-05-10",
            "a": 25
        }, {
            "period": "2010-03-14",
            "a": 0
        }];
        Morris.Line({
            element: 'graph-B',
            data: neg_data,
            xkey: 'period',
            ykeys: ['a'],
            labels: ['Series A'],
            units: '%'
        });
    }

    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
        //return 0;
    };
    var randomColorFactor = function () {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function (opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (
            opacity || '.3') + ')';
    };

    var myRandomNumber = function () {
        return (Math.floor((Math.random() * 80) + 400))
    }

    /* flot chart colors default */
    var $chrt_border_color = "#efefef";
    var $chrt_grid_color = "#DDD"
    var $chrt_main = "#E24913"; /* red       */
    var $chrt_second = "#6595b4"; /* blue      */
    var $chrt_third = "#FF9F01"; /* orange    */
    var $chrt_fourth = "#7e9d3a"; /* green     */
    var $chrt_fifth = "#BD362F"; /* dark red  */
    var $chrt_mono = "#000";

    var DoughtnutConfig = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    "#F7464A",
                    "#46BFBD",
                    "#FDB45C",
                ],
            }],
            labels: [
                "Facebook.com",
                "Twiiter.com",
                "Instagram.com",
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'left',
            }
        }
    };

    window.myDoughnut = new Chart(document.getElementById("doughnutChart1"), DoughtnutConfig);

    var donconfig = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    "#F7464A",
                    "#46BFBD",
                    "#FDB45C",
                    "#7e9d3a",
                    "#6595b4",
                    "#BD362F",
                ],
            }],
            labels: [
                "Facebook",
                "Twiiter",
                "Instagram",
                "Other",
                "Blog",
                "News",
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'left',
            }
        }
    };

    window.myDoughnutpie = new Chart(document.getElementById("doughnutChartpie"), donconfig);


    if ($("#site-stats").length) {

        var pageviews = [
            [1, 75],
            [3, 87],
            [4, 93],
            [5, 127],
            [6, 116],
            [7, 137],
            [8, 135],
            [9, 130],
            [10, 167],
            [11, 169],
            [12, 179],
            [13, 185],
            [14, 176],
            [15, 180],
            [16, 174],
            [17, 193],
            [18, 186],
            [19, 177],
            [20, 153],
            [21, 149],
            [22, 130],
            [23, 100],
            [24, 50]
        ];
        var visitors = [
            [1, 65],
            [3, 50],
            [4, 73],
            [5, 100],
            [6, 95],
            [7, 103],
            [8, 111],
            [9, 97],
            [10, 125],
            [11, 100],
            [12, 95],
            [13, 141],
            [14, 126],
            [15, 131],
            [16, 146],
            [17, 158],
            [18, 160],
            [19, 151],
            [20, 125],
            [21, 110],
            [22, 100],
            [23, 85],
            [24, 37]
        ];
        //console.log(pageviews)
        var plot = $.plot($("#site-stats"), [{
            data: pageviews,
            label: "Neg"
        }, {
            data: visitors,
            label: "Pos"
        }], {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.1
                            }, {
                                opacity: 0.15
                            }]
                        }
                    },
                    points: {
                        show: true
                    },
                    shadowSize: 0
                },
                xaxis: {
                    mode: "time",
                    timeformat: "%y/%m/%d",
                    tickLength: 10
                },

                yaxes: [{
                    min: 20,
                    tickLength: 5
                }],
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: $chrt_border_color,
                    borderWidth: 0,
                    borderColor: $chrt_border_color,
                },
                tooltip: true,
                tooltipOpts: {
                    content: "%s for <b>%x:00 hrs</b> was %y",
                    dateFormat: "%y-%0m-%0d",
                    defaultTheme: false
                },
                colors: [$chrt_main, $chrt_second],
                xaxis: {
                    ticks: 5,
                    tickDecimals: 0
                },
                yaxis: {
                    ticks: 15,
                    tickDecimals: 0
                },
            });

    }

</script>
{% endblock foot_js %}
