{% extends 'core/app.html' %}

{% load static %}

{% block 'content' %}

<link rel="stylesheet" type="text/css" href="{% static 'css/page6.css' %}">

<div class="sa-content">


    <div class="d-flex w-100 home-header">
        <div>
            <h1 class="page-header">Competitive dashboard</h1>
        </div>
    </div>
    <div class="d-flex w-100">
        <section id="widget-grid" class="w-100">
            <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false"
                data-widget-editbutton="false" role="widget">
                <div role="content p-0">
                    <div class="row">
                        <div class="col-md-9">
                            <div class='card card-2 p-3'>
                                <div class="d-flex w-100">
                                    <section id="widget-grid" class="w-100">
                                        <div class="row">
                                            <div class="col-6 sortable-grid ui-sortable">
                                                <div class="jarviswidget sot-widget" id="wid-id-0">
                                                    <div class="widget-body p-0">
                                                        <h6 class='sec-heads'>Share of Topcs</h6>
                                                        <p>Last 7 Days</p>
                                                        <div class="chart-container">
                                                            <div id="pie-chart" class="chart"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 sortable-grid ui-sortable">
                                                <div class="jarviswidget rot-widget" id="wid-id-0">
                                                    <div class="widget-body p-0">
                                                        <h6 class='sec-heads'>Results Over Time</h6>
                                                        <p>by topics - Last 7 Days</p>
                                                        <div class="text-right">
                                                            <span>Results <span class="results">145.5K</span></h3>
                                                        </div>
                                                        <div class="chart-container">
                                                            <canvas id="bar-chart"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 sortable-grid ui-sortable">
                                                <div class="jarviswidget rve-widget" id="wid-id-0">
                                                    <div class="widget-body">
                                                        <h6 class='sec-heads'>Reach vs Engagement</h6>
                                                        <p>Last 7 Days</p>
                                                        <div class="chart-container">
                                                            <canvas id="bubble-chart" class="chart"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 sortable-grid ui-sortable">
                                                <div class="jarviswidget sentiment-widget" id="wid-id-0">
                                                    <div class="widget-body">
                                                        <h6 class='sec-heads'>Sentiments</h6>
                                                        <p>by topics - Last 7 Days</p>
                                                        <div class="text-right">
                                                            <span>Results <span class="results">145.5K</span></h3>
                                                        </div>
                                                        <div class="chart-container">
                                                            <canvas id="hbar-chart"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </section>
                                </div>
                            </div>
                        </div>
                        {% include 'core/includes/search-sidebar.html' %}

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end row -->

        </section>
    </div>
</div>


{% endblock 'content' %}


{% block foot_js %}
<script src="{% static 'js/page6.js' %}"></script>
{% endblock foot_js %}
