{% extends 'core/app.html' %} {% load static %} {% block 'content' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page6.css' %}" />

<style>
  .crisis-btn {
    font-size: 1.9em;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    text-align: center;
  }
</style>

<div class="sa-content ">
  <div class="row">
    <div class="col-md-9">
      <div class="d-flex w-100 home-header">
        <div>
          <h1 class="page-header">Project 1</h1>
          <span class="text text-danger text-bold subheading-text">
            3250 posts in the last 12 days
          </span>
          <h3 class="m-0 text-muted">Facebook + twitter 29-31</h3>
        </div>
      </div>

      <div class="d-flex w-100">
        <section id="widget-grid" class="w-100">
          <div
            class="jarviswidget jarviswidget-sortable"
            id="wid-id-0"
            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            role="widget"
          >
            <div role="content" class="pt-0">
              <!-- widget edit box -->
              <!-- end widget edit box -->

              <!-- widget content -->
              <div class="row">
                <div class="col-md-12 pr-2">
                  <div class="widget-body card card-2 p-5 pt-3 mb-2 mt-1">
                    <div class="row" style="">
                      <div class="w-100"></div>
                      <div class="col-md-12 text-center">
                        <!-- <canvas id="barChart" height="80"></canvas> -->
                        <div class="negative crisis-btn">
                          Crisis <br />
                          <span class="no-tox-com">
                            {{ numcricomments }}
                          </span>
                        </div>
                        <div id="linechart" class="chart"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-6">
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <div class="widget-body card card-2 p-3">
                            <h6 class="sec-heads">Crisis Analysis</h6>
                            <canvas
                              id="doughnutChartSentiment"
                              height="220"
                            ></canvas>
                          </div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                          <div class="widget-body card card-2 p-3">
                            <h6 class="sec-heads">
                              Crisis analysis by channel
                            </h6>
                            <canvas id="doughnutChart" height="220"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="card card-2 p-3 mb-2">
                        <div
                          class="row d-flex px-3 justify-content-center"
                          style=""
                        >
                          <div class="input-group w-100">
                            <input
                              class="form-control"
                              type="text"
                              placeholder="Search Crisis Comments"
                            />
                            <div class="input-group-append">
                              <button class="btn sa-btn-primary" type="button">
                                <i class="fa fa-search"></i> Search
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 comment-container">
                      {% for comment in Crisiss %}
                      <div
                        class="widget-body card card-2 p-0 mt-2"
                        style="position:relative"
                      >
                        <section
                          class="mention mention-box mention-site-4"
                          id="mention_result_34364582556"
                        >
                          <div class="header">
                            <div class="avatar" id="mention_avatar_34364582556">
                              <a
                                onclick="groupsTitle(34364582556,4)"
                                target="_blank"
                                href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
                              >
                                <img
                                  src="{{ comment.user_image }}"
                                  onerror="imgError(34364582556)"
                                />
                                <span class="play-button">
                                  {%if comment.source == 'fb'%}
                                  <i class="fa fa-facebook"></i>
                                  {%endif%} {%if comment.source == 'twit'%}
                                  <i class="fa fa-twitter"></i> {%endif%}
                                </span>
                              </a>
                            </div>
                            <div class="author">
                              <div class="mention-title-box">
                                <a
                                  id="mention_title_34364582556"
                                  onclick="setResultAsVisited(34364582556,4)"
                                  target="_blank"
                                  href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
                                >
                                  {%if comment.source == 'fb'%}
                                  <i class="fa fa-facebook"></i>
                                  {%endif%} {%if comment.source == 'twit'%}
                                  <i class="fa fa-twitter"></i> {%endif%}

                                  {{ comment.user_name }}
                                </a>
                              </div>
                              <p class="followers-count">
                                <span class="followers-count-no">
                                  {{ comment.user_followers }}
                                </span>
                                Followers
                              </p>
                              <div
                                class="visited-box"
                                id="visited-box-34364582556"
                              ></div>
                              <span class="mention-source"
                                ><i class="fa fa-calendar"></i>
                                {{ comment.created_at }}
                              </span>
                            </div>
                            <ul
                              class="mention-information"
                              id="mention-information-34364582556"
                            >
                              <li>
                                <a
                                  onclick="setResultAsVisited(34364582556,4)"
                                  target="_blank"
                                  href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
                                  class="mention-source mention_source"
                                  hidden_source_url="http://www.youtube.com/channel/UCGmnsW623G1r-Chmo5RB4Yw"
                                  ><i class="fa fa-share-alt"></i>
                                  {%if comment.source == 'fb'%} facebook.com
                                  {%endif%} {%if comment.source == 'twit'%}
                                  twitter.com {%endif%}
                                </a>
                              </li>
                              <li class="score">
                                Influencer Score: <strong>10/10</strong>
                                <div class="influence-score">
                                  <span style="width:100%"></span>
                                </div>
                              </li>
                              <li id="li-mention-sentiment-34364582556">
                                <select
                                  id="mention-sentiment-34364582556"
                                  name="mention-sentiment-34364582556"
                                  class="sentiment"
                                  onchange="javascript:setSentimentInDB(34364582556, this.value)"
                                >
                                  <option selected="" value="0">Neutral</option>
                                  <option value="1">Positive</option>
                                  <option value="2">Negative</option>
                                </select>
                              </li>
                              <li class="social-stats">
                                <p class="likes">
                                  <i class="fa fa-thumbs-o-up"></i> 122422
                                </p>
                                <p class="likes">
                                  <i class="fa fa-thumbs-o-down"></i> 2361
                                </p>
                                <p class="comments">
                                  <i class="fa fa-comment-o"></i> 8451
                                </p>
                              </li>
                            </ul>
                          </div>
                          <div class="description">
                            <p
                              class="mention_text w-75"
                              id="mention_text_34364582556"
                            >
                              {{ comment.message }}
                            </p>
                            <a
                              id="groupButtonResult_34364582556"
                              href=",[-666]);"
                            ></a>
                            <li
                              class="added-groups groupsListResult"
                              id="groupsListResult_34364582556"
                              style="display:none;"
                            ></li>
                          </div>
                        </section>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- end widget content -->
            </div>
            <!-- end widget div -->
          </div>
          <!-- end row -->
        </section>
      </div>
    </div>

    {% include 'core/includes/search-sidebar.html' %}
  </div>
</div>
{% endblock 'content' %} {% block foot_js %}
<script>

  $('.hash-section').click(function () {
      $('.hash-section').removeClass('selected')
      $(this).addClass('selected')
  })

  var filterdata = {
      lang: [],
      gender: [],
      social: [],
      date: []
  };

  $(".lang-check").change(function () {
      $(this).val();
      if ($(this).is(":checked")) filterdata.lang.push($(this).val());
      else {
          var tempvar = filterdata.lang.filter(item => {
              return item !== $(this).val();
          });

          filterdata.lang = tempvar.map(item => item);
      }

      makeFilterRequest();
  });

  $(".gender-check").change(function () {
      $(this).val();
      if ($(this).is(":checked")) filterdata.gender.push($(this).val());
      else {
          var tempvar = filterdata.gender.filter(item => {
              return item !== $(this).val();
          });

          filterdata.gender = tempvar.map(item => item);
      }

      makeFilterRequest();
  });

  $(".social-check").change(function () {
      $(this).val();
      if ($(this).is(":checked")) filterdata.social.push($(this).val());
      else {
          var tempvar = filterdata.social.filter(item => {
              return item !== $(this).val();
          });

          filterdata.social = tempvar.map(item => item);
      }

      makeFilterRequest();
  });

  $(".date-check").change(function () {
      $(this).val();
      if ($(this).is(":checked")) filterdata.date.push($(this).val());
      else {
          var tempvar = filterdata.date.filter(item => {
              return item !== $(this).val();
          });

          filterdata.date = tempvar.map(item => item);
      }

      makeFilterRequest();
  });

  function makeFilterRequest() {
      const project_id = $("input[name=pro_id]").val();
      $(".loader").removeClass("d-none");
      axios
          .post("/dashboard/filter/results", {
              lng: filterdata.lang,
              gen: filterdata.gender,
              social: filterdata.social,
              date: filterdata.date,
              pro_id: project_id,
          })
          .then(resp => {
              $(".loader").addClass("d-none");
              $(".comment-container").empty();
              var data = JSON.parse(resp.data);
              var nocrisis = 0;
              var nonocrisis = 0;
              var fbtox = 0;
              var twittox = 0;

              $(data).each(function (index, el) {
                  if (el.fields.crisis == "Crisis") {
                      nocrisis = nocrisis + 1

                      var newcom = $(".com-clone").clone();
                      $(newcom).removeClass("d-none");
                      $(newcom).removeClass("com-clone");
                      $(newcom)
                          .find(".com-user-img")
                          .attr("src", el.fields.user_image);
                      if (el.fields.source == "fb")
                          $(newcom)
                              .find(".com-source")
                              .addClass("fa-facebook");
                      else if (el.fields.source == "twit")
                          $(newcom)
                              .find(".com-source")
                              .addClass("fa-twitter");

                      $(newcom)
                          .find(".com-user-name")
                          .text(el.fields.user_name);
                      $(newcom)
                          .find(".com-user-follow")
                          .text(el.fields.user_followers);

                      $(newcom)
                          .find(".com-date")
                          .text(el.fields.created_at);
                      $(newcom)
                          .find(".mention_text")
                          .text(el.fields.message);
                      $(newcom).appendTo(".comment-container");

                      if (el.fields.crisis == 'fb')
                          fbtox = fbtox + 1





                      else if (el.fields.crisis == 'twit') {
                          twittox = twittox + 1
                      }
                  } else {
                  nonotoxic = nonotoxic + 1
                };
              });

              createCharts(nocrisis, nonocrisis, fbtox, twittox)
          })
          .catch(resp => {
              $(".loader").addClass("d-none");

              console.log(resp);
          });
  }


  function createCharts(crisis, nocrisis, fbtox, twittox) {
      var linechart = function () {
          if ($("#linechart").length) {
              var d = [
                  [1197068400000, myRandomNumber()],
              ];

              var e = [
                  [1197068400000, 400],
              ];

              for (var i = 0; i < d.length; ++i)
                  d[i][0] += 60 * 60 * 1000;

              function weekendAreas(axes) {
                  var markings = [];
                  var d = new Date(axes.xaxis.min);
                  // go to the first Saturday
                  d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
                  d.setUTCSeconds(0);
                  d.setUTCMinutes(0);
                  d.setUTCHours(0);
                  var i = d.getTime();
                  do {
                      // when we don't set yaxis, the rectangle automatically
                      // extends to infinity upwards and downwards
                      markings.push({
                          xaxis: {
                              from: i,
                              to: i + 2 * 24 * 60 * 60 * 1000
                          }
                      });
                      i += 7 * 24 * 60 * 60 * 1000;
                  } while (i < axes.xaxis.max);

                  return markings;
              }

              var options = {
                  xaxis: {
                      mode: "time",
                      tickLength: 5
                  },
                  series: {
                      lines: {
                          show: true,
                          lineWidth: 2,
                          fill: false,
                          fillColor: {
                              colors: [{
                                  opacity: 0.1
                              }, {
                                  opacity: 0.15
                              }]
                          }
                      },
                      //points: { show: true },
                      shadowSize: 0
                  },
                  selection: {
                      mode: "x"
                  },
                  grid: {
                      hoverable: true,
                      clickable: true,
                      tickColor: 'red',
                      borderWidth: 0,
                      borderColor: 'blue',
                  },
                  tooltip: true,
                  colors: ['#30415D', '#CF6766'],

              };

              plot_1 = $.plot($("#linechart"), [d, e], options);


          };
      }

      linechart();

      var DoughtnutConfig = {
          type: 'doughnut',
          data: {
              datasets: [{
                  data: [crisis, nocrisis],
                  backgroundColor: [
                      "#F7464A",
                      "#46BFBD",
                  ],
              }],
              labels: [
                  "Crisis ",
                  "Non Crisis ",
              ]
          },
          options: {
              responsive: true,
              legend: {
                  position: 'top',
              }
          }
      };

      window.myDoughnut = new Chart(document.getElementById("doughnutChartSentiment"), DoughtnutConfig);

      var DoughtnutConfig = {
          type: 'doughnut',
          data: {
              datasets: [{
                  data: [fbtox, twittox],
                  backgroundColor: [
                      "#F7464A",
                      "#46BFBD",
                      "#FDB45C",
                      "#7e9d3a",
                      "silver"
                  ],
                  label: 'Dataset 1'
              }],
              labels: [
                  "Facebook ",
                  "Twitter ",
              ]
          },
          options: {
              responsive: true,
              legend: {
                  position: 'top',
              }
          }
      };

      window.myDoughnut = new Chart(document.getElementById("doughnutChart"), DoughtnutConfig);
  }

  createCharts({{ numcricomments }}, {{ numnocricomments }}, {{ fbtox }}, {{ twittox }})
</script>

<!-- <script src="{% static 'js/page6.js' %}"></script> -->
{% endblock foot_js %}
