{% extends 'core/app.html' %}

{% block 'content' %}

<style>
    .positive {
        color: white;
        background: #30415D;
        display: inline-block;
        padding: 0.4em 0.9em;
        font-weight: 500;
    }

    .negative {
        color: white;
        background: #CF6766;
        display: inline-block;
        padding: 0.4em 0.9em;
        font-weight: 500;
    }

    .hash-section.selected {
        color: #fe994a;
        border-radius: 10px;
        border-color: #fe994a
    }

    .hash-section {
        color: darkgray;
        width: 11.11%;
        min-width: 88px;
        text-align: center;
        cursor: pointer;
        border: 1px solid white;
    }

    .hash-section i {
        font-size: 3em
    }

    .hash-section h5 {
        font-weight: bold;
        font-size: 1.5em
    }

</style>

<div class="sa-content ">


    <div class="d-flex w-100 home-header">
        <div>
            <h1 class="page-header">Search Output </h1>
        </div>
    </div>
    <div class="d-flex w-100">
        <section id="widget-grid" class="w-100">
            <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false"
                data-widget-editbutton="false" role="widget">
                <div role="content">

                    <!-- widget edit box -->
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="row">
                        <div class="col-md-9 pr-2">
                            <div class="widget-body card card-2 p-5 pt-3 mb-2">
                                <div class="row" style=''>
                                    <h3 class='mt-0 d-inline-block'>Keywords : </h3> <span
                                        class='search-keyword'>Keyword</span>
                                    <span class='search-keyword'>Keyword</span> <span
                                        class='search-keyword'>Keyword</span>
                                    <span class='search-keyword'>Keyword</span>
                                    <div class="w-100"></div>
                                    <div class="col-md-12 text-center">
                                        <!-- <canvas id="barChart" height="80"></canvas> -->
                                        <div class="positive">
                                            Positive
                                        </div>
                                        <div class="negative">
                                            Negative
                                        </div>
                                        <div id="linechart" class="chart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class='col-md-12'>
                                    <div class="card card-2 p-3 mb-2">
                                        <div class="row d-flex px-3 justify-content-between" style=''>
                                            <div class="input-group" style="width:35%">
                                                <input class="form-control" type="text" placeholder="Search...">
                                                <div class="input-group-append">
                                                    <button class="btn sa-btn-primary" type="button">
                                                        <i class="fa fa-search"></i> Search
                                                    </button>
                                                </div>
                                            </div>
                                            <ul class="pagination justify-content-center m-0 pt-2">
                                                <li class="page-item"><a class="page-link"
                                                        href="javascript:void(0);">Previous</a></li>
                                                <li class="page-item active"><a class="page-link"
                                                        href="javascript:void(0);">1</a></li>
                                                <li class="page-item"><a class="page-link"
                                                        href="javascript:void(0);">2</a></li>
                                                <li class="page-item"><a class="page-link"
                                                        href="javascript:void(0);">3</a></li>
                                                <li class="page-item"><a class="page-link"
                                                        href="javascript:void(0);">Next</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class='col-md-12'>
                                    <div class="widget-body card card-2 p-3 mb-2">
                                        <div class="row d-flex px-3" style=''>
                                            <div class="hash-section selected px-2 py-4">
                                                <i class="fa fa-globe"></i>
                                                <p class='mb-0'>All</p>
                                                <h5 class='m-0'>2121</h5>
                                            </div>
                                            <div class="hash-section px-2 py-4">
                                                <i class="fa fa-facebook"></i>
                                                <p class='mb-0'>Facebook</p>
                                                <h5 class='m-0'>2121</h5>
                                            </div>
                                            <div class="hash-section px-2 py-4">
                                                <i class="fa fa-twitter"></i>
                                                <p class='mb-0'>Twitter</p>
                                                <h5 class='m-0'>2121</h5>
                                            </div>
                                            <div class="hash-section px-2 py-4">
                                                <i class="fa fa-instagram"></i>
                                                <p class='mb-0'>Instagram</p>
                                                <h5 class='m-0'>2121</h5>
                                            </div>
                                            <div class="hash-section px-2 py-4">
                                                <i class="fa fa-youtube"></i>
                                                <p class='mb-0'>Video</p>
                                                <h5 class='m-0'>2121</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="widget-body card card-2 p-3">
                                                <h6 class='sec-heads'>Sentiment</h6>
                                                <canvas id="doughnutChartSentiment" height="220"></canvas>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <div class="widget-body card card-2 p-3">
                                                <h6 class='sec-heads'>Mentions</h6>
                                                <canvas id="doughnutChart" height="220"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-12">
                                    <div class="widget-body card card-2 p-0 mt-2" style='position:relative'>
                                        <section class="mention mention-box mention-site-4"
                                            id="mention_result_34364582556">
                                            <div class="header">
                                                <div class="avatar" id="mention_avatar_34364582556">
                                                    <a onclick="groupsTitle(34364582556,4)" target="_blank"
                                                        href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5">
                                                        <img src="https://yt3.ggpht.com/a-/AAuE7mCOOTSrYLJYDswtTHGmiJSXEjL9UP2TRmkLNA=s88-mo-c-c0xffffffff-rj-k-no"
                                                            onerror="imgError(34364582556)">
                                                        <span class="play-button">
                                                            <i class="fa fa-youtube-play"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="author">
                                                    <div class="mention-title-box">
                                                        <a id="mention_title_34364582556"
                                                            onclick="setResultAsVisited(34364582556,4)" target="_blank"
                                                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5">
                                                            <i class="fa fa-youtube"></i>KSIOlajidebtHD
                                                        </a>
                                                    </div>
                                                    <p class="followers-count">
                                                        <span class="followers-count-no">5.9m</span> Followers
                                                    </p>
                                                    <div class="visited-box" id="visited-box-34364582556">

                                                    </div>
                                                    <span class="mention-source"><i class="fa fa-calendar"></i>
                                                        2019-02-01 11:49
                                                    </span>
                                                </div>
                                                <ul class="mention-information" id="mention-information-34364582556">
                                                    <li>
                                                        <a onclick="setResultAsVisited(34364582556,4)" target="_blank"
                                                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
                                                            class="mention-source mention_source"
                                                            hidden_source_url="http://www.youtube.com/channel/UCGmnsW623G1r-Chmo5RB4Yw"><i
                                                                class="fa fa-share-alt"></i> youtube.com
                                                        </a>
                                                    </li>
                                                    <li class="score">
                                                        Influencer Score: <strong>10/10</strong>
                                                        <div class="influence-score">
                                                            <span style="width:100%"></span>
                                                        </div>
                                                    </li>
                                                    <li id="li-mention-sentiment-34364582556">
                                                        <select id="mention-sentiment-34364582556"
                                                            name="mention-sentiment-34364582556" class="sentiment"
                                                            onchange="javascript:setSentimentInDB(34364582556, this.value)">
                                                            <option selected="" value="0">Neutral</option>
                                                            <option value="1">Positive</option>
                                                            <option value="2">Negative</option>
                                                        </select>
                                                    </li>
                                                    <li class="social-stats">
                                                        <p class="likes"><i class="fa fa-thumbs-o-up"></i> 122422</p>
                                                        <p class="likes"><i class="fa fa-thumbs-o-down"></i> 2361</p>
                                                        <p class="comments"><i class="fa fa-comment-o"></i> 8451</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="description">
                                                <p class="mention_text" id="mention_text_34364582556"> Twitter:
                                                    https://twitter.com/KSIOlajidebt Instagram:
                                                    https://www.instagram.com/ksi <b>Facebook</b>:
                                                    https://www.<b>facebook</b>.com/KSIOlajidebt/
                                                    Footasylum: ...
                                                </p>
                                                <a id="groupButtonResult_34364582556" href=",[-666]);"></a>
                                                <li class="added-groups groupsListResult"
                                                    id="groupsListResult_34364582556" style="display:none;"></li>
                                            </div>
                                            <div class="options">
                                                <ul>
                                                    <li class="featured">
                                                        <a onclick="setResultAsVisited(34364582556,4)" target="_blank"
                                                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5">
                                                            <i class="fa fa-reply"></i> Engage
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:page=1;scrollTabToTop();$('#filter_input_au').val('KSIOlajidebtHD');$('#filter_input_as').val('4');toggleFilter('au', 'KSIOlajidebtHD');"><i
                                                                class="fa fa-comments"></i> History
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-bookmark"></i> Group
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:deleteResult(34364582556,2);">
                                                            <i class="fa fa-trash"></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </section>
                                    </div>

                                    <div class="widget-body card card-2 p-0 mt-2" style='position:relative'>
                                        <section class="mention mention-box mention-site-4"
                                            id="mention_result_34364582556">
                                            <div class="header">
                                                <div class="avatar" id="mention_avatar_34364582556">
                                                    <a onclick="groupsTitle(34364582556,4)" target="_blank"
                                                        href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5">
                                                        <img src="https://yt3.ggpht.com/a-/AAuE7mCOOTSrYLJYDswtTHGmiJSXEjL9UP2TRmkLNA=s88-mo-c-c0xffffffff-rj-k-no"
                                                            onerror="imgError(34364582556)">
                                                        <span class="play-button">
                                                            <i class="fa fa-youtube-play"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="author">
                                                    <div class="mention-title-box">
                                                        <a id="mention_title_34364582556"
                                                            onclick="setResultAsVisited(34364582556,4)" target="_blank"
                                                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5">
                                                            <i class="fa fa-youtube"></i>KSIOlajidebtHD
                                                        </a>
                                                    </div>
                                                    <p class="followers-count">
                                                        <span class="followers-count-no">5.9m</span> Followers
                                                    </p>
                                                    <div class="visited-box" id="visited-box-34364582556">

                                                    </div>
                                                    <span class="mention-source"><i class="fa fa-calendar"></i>
                                                        2019-02-01 11:49
                                                    </span>
                                                </div>
                                                <ul class="mention-information" id="mention-information-34364582556">
                                                    <li>
                                                        <a onclick="setResultAsVisited(34364582556,4)" target="_blank"
                                                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
                                                            class="mention-source mention_source"
                                                            hidden_source_url="http://www.youtube.com/channel/UCGmnsW623G1r-Chmo5RB4Yw"><i
                                                                class="fa fa-share-alt"></i> youtube.com
                                                        </a>
                                                    </li>
                                                    <li class="score">
                                                        Influencer Score: <strong>10/10</strong>
                                                        <div class="influence-score">
                                                            <span style="width:100%"></span>
                                                        </div>
                                                    </li>
                                                    <li id="li-mention-sentiment-34364582556">
                                                        <select id="mention-sentiment-34364582556"
                                                            name="mention-sentiment-34364582556" class="sentiment"
                                                            onchange="javascript:setSentimentInDB(34364582556, this.value)">
                                                            <option selected="" value="0">Neutral</option>
                                                            <option value="1">Positive</option>
                                                            <option value="2">Negative</option>
                                                        </select>
                                                    </li>
                                                    <li class="social-stats">
                                                        <p class="likes"><i class="fa fa-thumbs-o-up"></i> 122422</p>
                                                        <p class="likes"><i class="fa fa-thumbs-o-down"></i> 2361</p>
                                                        <p class="comments"><i class="fa fa-comment-o"></i> 8451</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="description">
                                                <p class="mention_text" id="mention_text_34364582556"> Twitter:
                                                    https://twitter.com/KSIOlajidebt Instagram:
                                                    https://www.instagram.com/ksi <b>Facebook</b>:
                                                    https://www.<b>facebook</b>.com/KSIOlajidebt/
                                                    Footasylum: ...
                                                </p>
                                                <a id="groupButtonResult_34364582556" href=",[-666]);"></a>
                                                <li class="added-groups groupsListResult"
                                                    id="groupsListResult_34364582556" style="display:none;"></li>
                                            </div>
                                            <div class="options">
                                                <ul>
                                                    <li class="featured">
                                                        <a onclick="setResultAsVisited(34364582556,4)" target="_blank"
                                                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5">
                                                            <i class="fa fa-reply"></i> Engage
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:page=1;scrollTabToTop();$('#filter_input_au').val('KSIOlajidebtHD');$('#filter_input_as').val('4');toggleFilter('au', 'KSIOlajidebtHD');"><i
                                                                class="fa fa-comments"></i> History
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-bookmark"></i> Group
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:deleteResult(34364582556,2);">
                                                            <i class="fa fa-trash"></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </section>
                                    </div>

                                    <div class="widget-body card card-2 p-0 mt-2" style='position:relative'>
                                        <section class="mention mention-box mention-site-4"
                                            id="mention_result_34364582556">
                                            <div class="header">
                                                <div class="avatar" id="mention_avatar_34364582556">
                                                    <a onclick="groupsTitle(34364582556,4)" target="_blank"
                                                        href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5">
                                                        <img src="https://yt3.ggpht.com/a-/AAuE7mCOOTSrYLJYDswtTHGmiJSXEjL9UP2TRmkLNA=s88-mo-c-c0xffffffff-rj-k-no"
                                                            onerror="imgError(34364582556)">
                                                        <span class="play-button">
                                                            <i class="fa fa-youtube-play"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="author">
                                                    <div class="mention-title-box">
                                                        <a id="mention_title_34364582556"
                                                            onclick="setResultAsVisited(34364582556,4)" target="_blank"
                                                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5">
                                                            <i class="fa fa-youtube"></i>KSIOlajidebtHD
                                                        </a>
                                                    </div>
                                                    <p class="followers-count">
                                                        <span class="followers-count-no">5.9m</span> Followers
                                                    </p>
                                                    <div class="visited-box" id="visited-box-34364582556">

                                                    </div>
                                                    <span class="mention-source"><i class="fa fa-calendar"></i>
                                                        2019-02-01 11:49
                                                    </span>
                                                </div>
                                                <ul class="mention-information" id="mention-information-34364582556">
                                                    <li>
                                                        <a onclick="setResultAsVisited(34364582556,4)" target="_blank"
                                                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
                                                            class="mention-source mention_source"
                                                            hidden_source_url="http://www.youtube.com/channel/UCGmnsW623G1r-Chmo5RB4Yw"><i
                                                                class="fa fa-share-alt"></i> youtube.com
                                                        </a>
                                                    </li>
                                                    <li class="score">
                                                        Influencer Score: <strong>10/10</strong>
                                                        <div class="influence-score">
                                                            <span style="width:100%"></span>
                                                        </div>
                                                    </li>
                                                    <li id="li-mention-sentiment-34364582556">
                                                        <select id="mention-sentiment-34364582556"
                                                            name="mention-sentiment-34364582556" class="sentiment"
                                                            onchange="javascript:setSentimentInDB(34364582556, this.value)">
                                                            <option selected="" value="0">Neutral</option>
                                                            <option value="1">Positive</option>
                                                            <option value="2">Negative</option>
                                                        </select>
                                                    </li>
                                                    <li class="social-stats">
                                                        <p class="likes"><i class="fa fa-thumbs-o-up"></i> 122422</p>
                                                        <p class="likes"><i class="fa fa-thumbs-o-down"></i> 2361</p>
                                                        <p class="comments"><i class="fa fa-comment-o"></i> 8451</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="description">
                                                <p class="mention_text" id="mention_text_34364582556"> Twitter:
                                                    https://twitter.com/KSIOlajidebt Instagram:
                                                    https://www.instagram.com/ksi <b>Facebook</b>:
                                                    https://www.<b>facebook</b>.com/KSIOlajidebt/
                                                    Footasylum: ...
                                                </p>
                                                <a id="groupButtonResult_34364582556" href=",[-666]);"></a>
                                                <li class="added-groups groupsListResult"
                                                    id="groupsListResult_34364582556" style="display:none;"></li>
                                            </div>
                                            <div class="options">
                                                <ul>
                                                    <li class="featured">
                                                        <a onclick="setResultAsVisited(34364582556,4)" target="_blank"
                                                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5">
                                                            <i class="fa fa-reply"></i> Engage
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:page=1;scrollTabToTop();$('#filter_input_au').val('KSIOlajidebtHD');$('#filter_input_as').val('4');toggleFilter('au', 'KSIOlajidebtHD');"><i
                                                                class="fa fa-comments"></i> History
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-bookmark"></i> Group
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:deleteResult(34364582556,2);">
                                                            <i class="fa fa-trash"></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </section>
                                    </div>


                                </div>
                            </div>
                        </div>
                        {% include 'core/includes/search-sidebar.html' %}


                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end row -->

        </section>
    </div>
</div>
{% endblock 'content' %}


{% block foot_js %}
<script>

    $('.hash-section').click(function () {
        $('.hash-section').removeClass('selected')
        $(this).addClass('selected')
    })

    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
        //return 0;
    };
    var randomColorFactor = function () {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function (opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (
            opacity || '.3') + ')';
    };

    var myRandomNumber = function () {
        return (Math.floor((Math.random() * 80) + 400))
    }


    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
        //return 0;
    };
    var randomColorFactor = function () {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function (opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (
            opacity || '.3') + ')';
    };

    var myRandomNumber = function () {
        return (Math.floor((Math.random() * 80) + 400))
    }

    /* flot chart colors default */
    var $chrt_border_color = "#efefef";
    var $chrt_grid_color = "#DDD"
    var $chrt_main = "#E24913"; /* red       */
    var $chrt_second = "#6595b4"; /* blue      */
    var $chrt_third = "#FF9F01"; /* orange    */
    var $chrt_fourth = "#7e9d3a"; /* green     */
    var $chrt_fifth = "#BD362F"; /* dark red  */
    var $chrt_mono = "#000";

    var linechart = function () {
        if ($("#linechart").length) {
            var d = [
                [1197068400000, myRandomNumber()],
                [1197154800000, myRandomNumber()],
                [1197241200000, myRandomNumber()],
                [1197327600000, myRandomNumber()],
                [1197414000000, myRandomNumber()],
                [1197500400000, myRandomNumber()],
                [1197586800000, myRandomNumber()],
                [1197673200000, myRandomNumber()],
                [1197759600000, myRandomNumber()],
                [1197846000000, myRandomNumber()],
                [1197932400000, myRandomNumber()],
                [1198018800000, myRandomNumber()],
                [1198105200000, myRandomNumber()],
                [1198191600000, myRandomNumber()],
                [1198450800000, myRandomNumber()],
                [1198537200000, myRandomNumber()],
                [1198623600000, myRandomNumber()],
                [1198710000000, myRandomNumber()],
                [1198796400000, myRandomNumber()],
                [1198882800000, myRandomNumber()],
                [1198969200000, myRandomNumber()],
                [1199055600000, myRandomNumber()],
                [1199142000000, myRandomNumber()],
                [1199228400000, myRandomNumber()],
                [1199314800000, myRandomNumber()],
                [1199401200000, myRandomNumber()],
                [1199487600000, myRandomNumber()],
                [1199574000000, myRandomNumber()],
                [1199660400000, myRandomNumber()],
                [1199746800000, myRandomNumber()],
                [1199833200000, myRandomNumber()],
                [1199919600000, myRandomNumber()],
                [1200006000000, myRandomNumber()],
                [1200092400000, myRandomNumber()],
                [1200178800000, myRandomNumber()],
                [1200265200000, myRandomNumber()],
                [1200351600000, myRandomNumber()],
                [1200438000000, myRandomNumber()],
                [1200524400000, myRandomNumber()],
                [1200610800000, myRandomNumber()],
                [1200697200000, myRandomNumber()],
                [1200783600000, myRandomNumber()],
                [1200870000000, myRandomNumber()],
                [1200956400000, myRandomNumber()],
                [1201042800000, myRandomNumber()],
                [1201129200000, myRandomNumber()],
                [1201215600000, 900]
            ];

            var e = [
                [1197068400000, 400],
                [1197154800000, myRandomNumber()],
                [1197241200000, myRandomNumber()],
                [1197327600000, myRandomNumber()],
                [1197414000000, myRandomNumber()],
                [1197500400000, myRandomNumber()],
                [1197586800000, myRandomNumber()],
                [1197673200000, myRandomNumber()],
                [1197759600000, myRandomNumber()],
                [1197846000000, myRandomNumber()],
                [1197932400000, myRandomNumber()],
                [1198018800000, myRandomNumber()],
                [1198105200000, 400],
                [1198191600000, myRandomNumber()],
                [1198450800000, myRandomNumber()],
                [1198537200000, myRandomNumber()],
                [1198623600000, myRandomNumber()],
                [1198710000000, myRandomNumber()],
                [1198796400000, myRandomNumber()],
                [1198882800000, myRandomNumber()],
                [1198969200000, myRandomNumber()],
                [1199055600000, myRandomNumber()],
                [1199142000000, myRandomNumber()],
                [1199228400000, myRandomNumber()],
                [1199314800000, myRandomNumber()],
                [1199401200000, myRandomNumber()],
                [1199487600000, myRandomNumber()],
                [1199574000000, 400],
                [1199660400000, myRandomNumber()],
                [1199746800000, myRandomNumber()],
                [1199833200000, myRandomNumber()],
                [1199919600000, myRandomNumber()],
                [1200006000000, myRandomNumber()],
                [1200092400000, myRandomNumber()],
                [1200178800000, myRandomNumber()],
                [1200265200000, myRandomNumber()],
                [1200351600000, myRandomNumber()],
                [1200438000000, myRandomNumber()],
                [1200524400000, myRandomNumber()],
                [1200610800000, myRandomNumber()],
                [1200697200000, myRandomNumber()],
                [1200783600000, myRandomNumber()],
                [1200870000000, 400],
                [1200956400000, myRandomNumber()],
                [1201042800000, myRandomNumber()],
                [1201129200000, myRandomNumber()],
                [1201215600000, 500]
            ];

            for (var i = 0; i < d.length; ++i)
                d[i][0] += 60 * 60 * 1000;

            function weekendAreas(axes) {
                var markings = [];
                var d = new Date(axes.xaxis.min);
                // go to the first Saturday
                d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
                d.setUTCSeconds(0);
                d.setUTCMinutes(0);
                d.setUTCHours(0);
                var i = d.getTime();
                do {
                    // when we don't set yaxis, the rectangle automatically
                    // extends to infinity upwards and downwards
                    markings.push({
                        xaxis: {
                            from: i,
                            to: i + 2 * 24 * 60 * 60 * 1000
                        }
                    });
                    i += 7 * 24 * 60 * 60 * 1000;
                } while (i < axes.xaxis.max);

                return markings;
            }

            var options = {
                xaxis: {
                    mode: "time",
                    tickLength: 5
                },
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2,
                        fill: false,
                        fillColor: {
                            colors: [{
                                opacity: 0.1
                            }, {
                                opacity: 0.15
                            }]
                        }
                    },
                    //points: { show: true },
                    shadowSize: 0
                },
                selection: {
                    mode: "x"
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: $chrt_border_color,
                    borderWidth: 0,
                    borderColor: $chrt_border_color,
                },
                tooltip: true,
                colors: ['#30415D', '#CF6766'],

            };

            plot_1 = $.plot($("#linechart"), [d, e], options);


        };
    }

    linechart();


    var DoughtnutConfig = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    0
                ],
                backgroundColor: [
                    "#F7464A",
                    "#46BFBD",
                    "#FDB45C",
                    "#7e9d3a",
                    "silver"
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Facebook " + randomScalingFactor(),
                "Twitter " + randomScalingFactor(),
                "Instagram " + randomScalingFactor(),
                "Youtube " + randomScalingFactor(),
                "Total Mentions " + randomScalingFactor(),
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            }
        }
    };

    window.myDoughnut = new Chart(document.getElementById("doughnutChart"), DoughtnutConfig);

    var DoughtnutConfig = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    "#CF6766",
                    "#30415D",
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Negative " + randomScalingFactor(),
                "Positive " + randomScalingFactor(),
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            }
        }
    };

    window.myDoughnut = new Chart(document.getElementById("doughnutChartSentiment"), DoughtnutConfig);

</script>
{% endblock foot_js %}
