{% extends 'core/app.html' %} {% load static %} {% block 'content' %}

<style>
  .positive {
    color: white;
    background: #6595b4;
    display: inline-block;
    padding: 0.4em 0.9em;
    font-weight: 500;
  }

  .negative {
    color: white;
    background: #ff9f01;
    display: inline-block;
    padding: 0.4em 0.9em;
    font-weight: 500;
  }

  .nuetral-number {
    color: orange;
    font-size: 2em;
    font-weight: 600;
    margin: 0;
  }

  .nuetral-positive {
    color: green;
    font-size: 2em;
    font-weight: 600;
    margin: 0;
  }

  .nuetral-negative {
    color: #f44336;
    font-size: 2em;
    font-weight: 600;
    margin: 0;
  }

  #graph-B {
    margin: 0 !important;
  }

  .page-header span {
    color: gray;
    font-size: 0.75em;
    margin-left: 10px;
  }

  .progress-bars > div:first-child {
    margin-top: 20px;
  }

  .progress-bars p {
    font-size: 1.4em;
  }

  .progress-bars > div > p:first-child {
    margin: 0;
    padding-top: 4px;
  }

  .progress-bars .number-pro {
    font-size: 1.6em;
  }

  .pro-bar-container {
    width: 100%;
    height: 15px;
    background: gainsboro;
  }

  .pro-bar-container .pro-progress {
    background-color: #1e88e5;
  }

  .influent-side p {
    margin-bottom: 2px !important;
  }
</style>

<div class="sa-content ">
  <div class="d-flex w-100 home-header">
    <div class="w-100">
      <h1 class="page-header d-inline-block">
        Projects
        <span class="text-muted d-block" style="font-size:0.5em;margin:3px 0px"
          >Select a project and browse results</span
        >
      </h1>
      <button
        data-toggle="modal"
        data-target="#createmodal"
        class="btn btn-primary float-right mt-4"
      >
        <em class="fa fa-plus-square-o"></em> Add new project
      </button>
    </div>
  </div>
  <div class="d-flex w-100">
    <section id="widget-grid" class="w-100">
      <div
        class="jarviswidget jarviswidget-sortable"
        id="wid-id-0"
        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        role="widget"
      >
        <div role="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-2 p-3 m-0">
                <div class="row">
                  <p>
                    <a href="/dashboard/twitter-auth"
                      ><img
                        src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"
                        alt="sign in with twitter"
                    /></a>
                  </p>
                  <table style="width:90%" class="mx-auto table p-3 my-4">
                    <thead>
                      <tr>
                        <th style="width: 6%">#</th>
                        <th style="width:54%">PROJECT NAME</th>
                        <th style="width:20%">CREATED</th>
                        <th style="width:20%">PROJECT SETTINGS</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for pro in projects %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                          <a
                            href="/dashboard/main/{{ pro.id }}"
                            style="color: green"
                            >{{ pro.title }}</a
                          >
                        </td>
                        <td style="color: green">
                          {{ pro.created_at }}
                        </td>
                        <td style="padding-top: 1.6em !important;">
                          <a
                            href="{% url 'delete-project' pid=pro.id %}"
                            class="btn btn-danger"
                            >Delete</a
                          >
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- end widget content -->
        </div>
        <!-- end widget div -->
      </div>
      <!-- end row -->
    </section>
  </div>
</div>
{% endblock 'content' %} {% block foot_js %}
<script src="https://connect.facebook.net/en_US/sdk.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "250604469198313",
      autoLogAppEvents: true,
      xfbml: true,
      version: "v3.2"
    });
  };

  FB.getLoginStatus(function(response) {
    if (response.status === "connected") {
      console.log(response);
      axios
        .post("/dashboard/usertoken", {
          token: response.authResponse.accessToken
        })
        .then(resp => {
          console.log(resp);
        })
        .catch(resp => {
          console.log(resp.response);
        });
    } else {
      FB.login(
        function(response) {
          console.log(response);
          axios
            .post("/dashboard/usertoken", {
              token: response.authResponse.accessToken
            })
            .then(resp => {
              console.log(resp);
            })
            .catch(resp => {
              console.log(resp.response);
            });
        },
        {
          scope: "public_profile,email,manage_pages,read_insights,publish_pages"
        }
      );
    }
  });

  // FB.login(function (response) {
  //     console.log(response);
  //     // handle the response
  // }, { scope: 'public_profile,email,manage_pages' });
  pageaccesss =
    "EAADj7GZAdnekBALZCRh0YXlBEC2D8ChkK0m8LShPVQZB34YgaZCPBzXdMOVGj0tu0DQHHbmWu4XFtD6n0ZAZA2MEHTK6q6zxhbnchREnolOThGnhsOlvCuDnkQwTVzV0VnVP5ONl9rUUsxshonwQzFpZA1ZAGOOaoPRig8WkCAkZAMzi7agTI7VYIbCjJal60KQbCgjPGKdn2ZCgZDZD";
  pageid = "685354811480255";

  // to get the page access tokens
  // FB.api('/me/accounts?access_token=EAADj7GZAdnekBANbSB7UVjXoWjTphkiF4pYrA6h1ZClY5F2UqwfpbzRIvtCPTn9WNc1KvEZCXJer119cLyi2md4Wfs9FIoqmnqoiOv5y4LYNZBQz5JRZCjW4He9t6xBZAqCb2I6m2NCckVwLfeppebK4LyYXGZA8gMZD', (response) => {
  //     console.log(response)
  // })

  // "url to get posts of page https://graph.facebook.com/685354811480255/feed?access_token="EAADj7GZAdnekBAOMuVjAaXCf4vE4CT2mRKNMLsMMdZAf5W0hV8SMOMbVucbBQ5LxFUfViomCNoK36buTqNNlBZCGb5lYzHgXZAQ5mFUZCsPvk8t9ZCNlGTYTNvLtcwMC6LCsKg3ccGjgffK9u9xZCTlRKvaxlxplrWsbfyqMztrmxWd0C8xVhS9CzUd0UpsCDXDw2fLUUqZAMwZDZD"

  // url to get user id of a post
  // https://graph.facebook.com/v3.2/685354811480255_1067640369918362/?fields=from&access_token=EAADj7GZAdnekBAOMuVjAaXCf4vE4CT2mRKNMLsMMdZAf5W0hV8SMOMbVucbBQ5LxFUfViomCNoK36buTqNNlBZCGb5lYzHgXZAQ5mFUZCsPvk8t9ZCNlGTYTNvLtcwMC6LCsKg3ccGjgffK9u9xZCTlRKvaxlxplrWsbfyqMztrmxWd0C8xVhS9CzUd0UpsCDXDw2fLUUqZAMwZDZD

  // url to get comments
  // https://graph.facebook.com/685354811480255_1067640369918362/comments?access_token=EAADj7GZAdnekBAOMuVjAaXCf4vE4CT2mRKNMLsMMdZAf5W0hV8SMOMbVucbBQ5LxFUfViomCNoK36buTqNNlBZCGb5lYzHgXZAQ5mFUZCsPvk8t9ZCNlGTYTNvLtcwMC6LCsKg3ccGjgffK9u9xZCTlRKvaxlxplrWsbfyqMztrmxWd0C8xVhS9CzUd0UpsCDXDw2fLUUqZAMwZDZD

  // url to get extra features about comment
  // https://graph.facebook.com/v3.2/1067640183251714_1611843102164750/?fields=from,created_time,like_count&access_token=EAADj7GZAdnekBAOMuVjAaXCf4vE4CT2mRKNMLsMMdZAf5W0hV8SMOMbVucbBQ5LxFUfViomCNoK36buTqNNlBZCGb5lYzHgXZAQ5mFUZCsPvk8t9ZCNlGTYTNvLtcwMC6LCsKg3ccGjgffK9u9xZCTlRKvaxlxplrWsbfyqMztrmxWd0C8xVhS9CzUd0UpsCDXDw2fLUUqZAMwZDZD

  // FB.api(
  //     '/685354811480255',
  //     'GET',
  //     { "fields": "about,attire,bio,location,parking,hours,emails,website" },
  //     function (response) {
  //         console.log(" page data response " + response);
  //     }
  // );
</script>

{% endblock foot_js %}
