{% extends 'core/app.html' %}

{% load static %}

{% block 'content' %}

<style>
    .positive {
        color: white;
        background: #6595b4;
        display: inline-block;
        padding: 0.4em 0.9em;
        font-weight: 500;
    }

    .negative {
        color: white;
        background: #FF9F01;
        display: inline-block;
        padding: 0.4em 0.9em;
        font-weight: 500;
    }

    .nuetral-number {
        color: orange;
        font-size: 2em;
        font-weight: 600;
        margin: 0;
    }

    .nuetral-positive {
        color: green;
        font-size: 2em;
        font-weight: 600;
        margin: 0;
    }

    .nuetral-negative {
        color: #f44336;
        font-size: 2em;
        font-weight: 600;
        margin: 0;
    }

    #graph-B {
        margin: 0 !important
    }

    .page-header span {
        color: gray;
        font-size: 0.75em;
        margin-left: 10px;
    }

    .progress-bars>div:first-child {
        margin-top: 20px
    }

    .progress-bars p {
        font-size: 1.4em;
    }

    .progress-bars>div>p:first-child {
        margin: 0;
        padding-top: 4px
    }

    .progress-bars .number-pro {
        font-size: 1.6em;
    }

    .pro-bar-container {
        width: 100%;
        height: 15px;
        background: gainsboro;
    }

    .pro-bar-container .pro-progress {
        background-color: #1e88e5;
    }

    .influent-side p {
        margin-bottom: 2px !important
    }

</style>

<div class="sa-content container">


    <div class="d-flex w-100 home-header">
        <div class='w-100'>
            <h1 class="page-header d-inline-block">Projects
                <span class='text-muted d-block' style='font-size:0.5em;margin:3px 0px'>Select a project and browse
                    results</span>
            </h1>
            <button data-toggle='modal' data-target='#createmodal' class="btn btn-primary float-right mt-4">
                <em class="fa fa-plus-square-o"></em> Add new project
            </button>
        </div>
    </div>
    <div class="d-flex w-100">
        <section id="widget-grid" class="w-100">
            <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false"
                data-widget-editbutton="false" role="widget">
                <div role="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class='card card-2 p-3 m-0'>
                                <div class="row">
                                    <table style='width:90%' class='mx-auto table p-3 my-4'>
                                        <thead>
                                            <tr>
                                                <th style='width: 6%'>#</th>
                                                <th style="width:54%">PROJECT NAME</th>
                                                <th style="width:20%">CREATED</th>
                                                <th style="width:20%">PROJECT SETTINGS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for pro in projects %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td><a href="{% url 'project-setting' proid=pro.id %}"
                                                        style='color: green'>{{pro.title}}</a></td>
                                                <td style='color: green'>{{ pro.created_at|date:'Y-m-d' }}</td>
                                                <td style='padding-top: 1.6em !important;'>
                                                    <a href="{% url 'project-setting' proid=pro.id %}"
                                                        class="btn btn-success">Edit</a>
                                                    <a href="{% url 'delete-project' pid=pro.id %}"
                                                        class="btn btn-danger">Delete</a> </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end row -->

        </section>
    </div>
</div>
{% endblock 'content' %}


{% block foot_js %}
<script>

</script>
{% endblock foot_js %}
