{% extends 'core/app.html' %}

{% load static %}

{% block 'content' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page7.css' %}">

<div class="sa-content ">


  <div class="d-flex w-100 home-header">
    <div>
      <h1 class="page-header">Influencer dashboard</h1>
    </div>
  </div>
  <div class="d-flex w-100">
    <section id="widget-grid" class="w-100">
      <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false"
        data-widget-editbutton="false" role="widget">
        <div role="content p-0">
          <div class="row">
            <div class="col-md-9">
              <div class='card card-2 p-3'>
                <div class="d-flex w-100">
                  <section id="" class="w-100">
                    <div class="row">
                      <div class="col-12 sortable-grid ui-sortable">
                        <div class="row">
                          <div class="col-9">
                            <table class="table table-striped tptable">
                              <col width="50%">
                              <col width="10%">
                              <col width="10%">
                              <col width="10%">
                              <col width="10%">
                              <col width="10%">
                              <thead>
                                <tr>
                                  <th class="bg-primary text-white">Influencers</th>
                                  <th class="bg-primary text-white">Posts</th>
                                  <th class="bg-primary text-white">Reach</th>
                                  <th class="bg-primary text-white">Reach/Post</th>
                                  <th class="bg-primary text-white">Engagement</th>
                                  <th class="bg-primary text-white">Eng/Post</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="{% static 'images/youtubeicon.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-3">
                            <h3 class="mt-0 text-center">Unique Authors by Media Types</h3>
                            <div id="pie-chart" style='height:210px' class="chart"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- end row -->

                  </section>
                </div>
              </div>
            </div>

            {% include 'core/includes/search-sidebar.html' %}

          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->

      </div>
      <!-- end row -->

    </section>
  </div>
</div>

{% endblock 'content' %}


{% block foot_js %}
<script src="{% static 'js/page7.js' %}"></script>

{% endblock foot_js %}
