{% extends 'core/app.html' %}

{% block 'content' %}

<div class="sa-content">


  <div class="d-flex w-100 home-header">
    <div>
      <h1 class="page-header">Influencer dashboard</h1>
    </div>
  </div>
  <div class="d-flex w-100">
    <section id="widget-grid" class="w-100">
      <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false"
        data-widget-editbutton="false" role="widget">
        <div role="content p-0">
          <div class="row">
            <div class="col-md-9">
              <div class='card card-2 p-3'>
                <div class="d-flex w-100">
                  <section id="" class="w-100">
                    <div class="row">
                      <div class="col-12 sortable-grid ui-sortable">
                        <div class="row">
                          <div class="col-9">
                            <table class="table table-striped tptable">
                              <col width="50%">
                              <col width="10%">
                              <col width="10%">
                              <col width="10%">
                              <col width="10%">
                              <col width="10%">
                              <thead>
                                <tr>
                                  <th class="bg-primary text-white">Influencers</th>
                                  <th class="bg-primary text-white">Posts</th>
                                  <th class="bg-primary text-white">Reach</th>
                                  <th class="bg-primary text-white">Reach/Post</th>
                                  <th class="bg-primary text-white">Engagement</th>
                                  <th class="bg-primary text-white">Eng/Post</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="youtubeicon.jpg" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="youtubeicon.jpg" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="youtubeicon.jpg" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="youtubeicon.jpg" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="youtubeicon.jpg" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="youtubeicon.jpg" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="youtubeicon.jpg" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class="influencer">
                                      <div class="avatar">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                      </div>
                                      <div class="name">
                                        Kaise Ryan, Sound good, you
                                      </div>
                                      <div class="social-icon">
                                        <img src="youtubeicon.jpg" alt="">
                                      </div>
                                    </div>
                                  </td>
                                  <td>1</td>
                                  <td>50.2M</td>
                                  <td>25.1M</td>
                                  <td>1.5M</td>
                                  <td>1.5M</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-3">
                            <h3 class="mt-0 text-center">Unique Authors by Media Types</h3>
                            <div id="pie-chart-inf" style='height:360px' class="chart"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- end row -->

                  </section>
                </div>
              </div>
            </div>
<div class='col-md-3'>
  <div class="widget-body search-sidebar card card-2 p-3 pt-4 pl-4">
    <div class="row" style=''>
      <div class="col-md-12 ">
        <h4 class='filter-man-head'>Search Filters</h4>

        <h5 class='filter-heading'>Social Channel</h5>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Facebook</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Twitte</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Instagram</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Youtube</span>
          </label>
        </div>

        <h5 class='filter-heading'>Date</h5>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Last Day</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Last 3 Days</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Last Week</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Last 10 Days</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Last Month</span>
          </label>
        </div>


        <h5 class='filter-heading'>Language</h5>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>English</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>French</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Arabic</span>
          </label>
        </div>
        <div class="vcheck">
          <label>
            <input type="checkbox" class="checkbox style-0" checked="checked">
            <span>Arabizi</span>
          </label>
        </div>
        <h5 class='filter-heading'>Date</h5>
        <div class="row">
          <div class="col-md-6">
            <label for="">From</label>
            <input type='text' name='datefrom' class='form-control' />
          </div>
          <div class="col-md-6">
            <label for="">To</label>
            <input type='text' name='dateto' class='form-control' />
          </div>
        </div>

        <h5 class='filter-heading'>Sentiment</h5>
        <div class="" style='display:flex;justify-content: space-between'>
          <span class='text-center'>(101) <br> Negative</span>
          <span class='text-center'>(101) <br> Nuetral</span>
          <span class='text-center'>(101) <br> Positive</span>
        </div>
        <input type='range' min='1' max='3' value='1' step='1' class="n n3" />

      </div>
    </div>
  </div>
</div>

          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->

      </div>
      <!-- end row -->

    </section>
  </div>
</div>


{% endblock 'content' %}


{% block foot_js %}

{% endblock foot_js %}
