{% extends 'core/app.html' %} {% load static %} {% block 'content' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page6.css' %}" />

<style></style>

<div class="sa-content ">
  <div class="row">
    <div class="col-md-9">
      <div class="d-flex w-100 home-header">
        <div>
          <h1 class="page-header">{{ project.title }}</h1>
        </div>
      </div>

      <div class="d-flex w-100">
        <section id="widget-grid" class="w-100">
          <div
            class="jarviswidget jarviswidget-sortable"
            id="wid-id-0"
            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            role="widget"
          >
            <div role="content" class="pt-0">
              <div class="row">
                <div class="col-md-6">
                  <div class="widget-body card card-2 p-3">
                    <h6 class="sec-heads">Sentiment Analysis</h6>
                    <canvas id="sentimentanalysis" height="240"></canvas>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="widget-body card card-2 p-3">
                    <h6 class="sec-heads">Gender Analysis</h6>
                    <canvas id="genderanalysis" height="240"></canvas>
                  </div>
                </div>
                <div class="col-md-12 comment-container">
                  {% for comment in comments %}
                  <div
                    class="widget-body card card-2 p-0 mt-2"
                    style="position:relative"
                  >
                    <section
                      class="mention mention-box mention-site-4"
                      id="mention_result_34364582556"
                    >
                      <div class="header">
                        <div class="avatar" id="mention_avatar_34364582556">
                          <a
                            onclick="groupsTitle(34364582556,4)"
                            target="_blank"
                            href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
                          >
                            <img
                              src="http://graph.facebook.com/10154846461502839/picture?type=square"
                            />
                            <span class="play-button">
                              {%if comment.source == 'fb'%}
                              <i class="fa fa-facebook"></i>
                              {%endif%} {%if comment.source == 'twit'%}
                              <i class="fa fa-twitter"></i> {%endif%}
                            </span>
                          </a>
                        </div>
                        <div class="author">
                          <div class="mention-title-box">
                            <a
                              id="mention_title_34364582556"
                              onclick="setResultAsVisited(34364582556,4)"
                              target="_blank"
                              href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
                            >
                              {%if comment.source == 'fb'%}
                              <i class="fa fa-facebook"></i>
                              {%endif%} {%if comment.source == 'twit'%}
                              <i class="fa fa-twitter"></i> {%endif%}

                              {{ comment.user_name }}
                            </a>
                          </div>
                          <p class="followers-count">
                            <span class="followers-count-no">
                              {{ comment.user_followers }}
                            </span>
                            Followers
                          </p>
                          <div
                            class="visited-box"
                            id="visited-box-34364582556"
                          ></div>
                          <span class="mention-source"
                            ><i class="fa fa-calendar"></i>
                            {{ comment.created_at }}
                          </span>
                        </div>
                        <ul
                          class="mention-information"
                          id="mention-information-34364582556"
                        >
                          <li>
                            <a
                              onclick="setResultAsVisited(34364582556,4)"
                              target="_blank"
                              href="/result/open/?id=34364582556&amp;h=b584e2f1667bd8abec130248b096299b9c220bb5"
                              class="mention-source mention_source"
                              hidden_source_url="http://www.youtube.com/channel/UCGmnsW623G1r-Chmo5RB4Yw"
                              ><i class="fa fa-share-alt"></i>
                              {%if comment.source == 'fb'%} facebook.com
                              {%endif%} {%if comment.source == 'twit'%}
                              twitter.com {%endif%}
                            </a>
                          </li>
                          <li class="score">
                            Influencer Score: <strong>10/10</strong>
                            <div class="influence-score">
                              <span style="width:100%"></span>
                            </div>
                          </li>
                          <li id="li-mention-sentiment-34364582556">
                            <select
                              id="mention-sentiment-34364582556"
                              name="mention-sentiment-34364582556"
                              class="sentiment"
                              onchange="javascript:setSentimentInDB(34364582556, this.value)"
                            >
                              <option selected="" value="0">Neutral</option>
                              <option value="1">Positive</option>
                              <option value="2">Negative</option>
                            </select>
                          </li>
                          <li class="social-stats">
                            <p class="likes">
                              <i class="fa fa-thumbs-o-up"></i> 122422
                            </p>
                            <p class="likes">
                              <i class="fa fa-thumbs-o-down"></i> 2361
                            </p>
                            <p class="comments">
                              <i class="fa fa-comment-o"></i> 8451
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="description">
                        <p
                          class="mention_text w-75"
                          id="mention_text_34364582556"
                        >
                          {{ comment.message }}
                        </p>
                        <a
                          id="groupButtonResult_34364582556"
                          href=",[-666]);"
                        ></a>
                        <li
                          class="added-groups groupsListResult"
                          id="groupsListResult_34364582556"
                          style="display:none;"
                        ></li>
                      </div>
                    </section>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- end widget div -->
          </div>
          <!-- end row -->
        </section>
      </div>
    </div>

    {% include 'core/includes/search-sidebar.html' %}
  </div>
</div>
{% endblock 'content' %} {% block foot_js %}
<script>


  function makeFilterRequest() {
    const project_id = $("input[name=pro_id]").val();
    $(".loader").removeClass("d-none");

    axios
      .post("/dashboard/filter/results", {
        lng: filterdata.lang,
        gen: filterdata.gender,
        social: filterdata.social,
        date: filterdata.date,
        pro_id: project_id,
        daterange:filterdata.daterange,
        sent:filterdata.sent
      })
      .then(resp => {
        $(".loader").addClass("d-none");
        $(".comment-container").empty();
        var data = JSON.parse(resp.data);
        var nomale = 0;
        var nofemale = 0;
        var nopositive = 0;
        var nonegative = 0;
        var nonuetral = 0;

        $(data).each(function(index, el) {
          if (el.fields.sentiment == "Positive") nopositive = nopositive + 1;
          else if (el.fields.sentiment == "Negative")
            nonegative = nonegative + 1;
          else nonuetral = nonuetral + 1;

          if (el.fields.gender == "Male") nomale = nomale + 1;
          else if (el.fields.gender == "Female") nofemale = nofemale + 1;

          var newcom = $(".com-clone").clone();
          $(newcom).removeClass("d-none");
          $(newcom).removeClass("com-clone");
          $(newcom)
            .find(".com-user-img")
            .attr("src", el.fields.user_image);
          if (el.fields.source == "fb")
            $(newcom)
              .find(".com-source")
              .addClass("fa-facebook");
          else if (el.fields.source == "twit")
            $(newcom)
              .find(".com-source")
              .addClass("fa-twitter");

          $(newcom)
            .find(".com-user-name")
            .text(el.fields.user_name);
          $(newcom)
            .find(".com-user-follow")
            .text(el.fields.user_followers);

          $(newcom)
            .find(".com-date")
            .text(el.fields.created_at);
          $(newcom)
            .find(".mention_text")
            .text(el.fields.message);
          $(newcom).appendTo(".comment-container");
        });
        createCharts(nomale,nofemale,nopositive,nonegative,nonuetral)
      })
      .catch(resp => {
        $(".loader").addClass("d-none");
      });
  }

  function createCharts(nomale, nofemale, nopositive, nonegative, nonuetral) {
    var DoughtnutSent = {
      type: "doughnut",
      data: {
        datasets: [
          {
            data: [nonegative, nopositive, nonuetral],
            backgroundColor: ["#CF6766", "#30415D"]
          }
        ],
        labels: ["Negative ", "Positive ", "Nuetral "]
      },
      options: {
        responsive: true,
        legend: {
          position: "top"
        }
      }
    };

    var DoughtnutGender = {
      type: "doughnut",
      data: {
        datasets: [
          {
            data: [nomale, nofemale],
            backgroundColor: ["#CF6766", "#30415D"]
          }
        ],
        labels: ["Male ", "Female "]
      },
      options: {
        responsive: true,
        legend: {
          position: "top"
        }
      }
    };

    window.myDoughnut = new Chart(
      document.getElementById("sentimentanalysis"),
      DoughtnutSent
    );

    window.myDoughnut = new Chart(
      document.getElementById("genderanalysis"),
      DoughtnutGender
    );
  }

  createCharts({{nomale}},{{nofemale}},{{nopositive}},{{nonegative}},{{nonuetral}})
</script>
<!-- <script src="{% static 'js/page6.js' %}"></script> -->
{% endblock foot_js %}
