{% extends 'core/app.html' %}

{% block 'content' %}

<style>
	.multi-radio h5 {
		font-weight: bold;
		font-size: 1.3em;
		/* margin-bottom: -19px; */
	}

	.multi-radio [type="radio"]:checked,
	.multi-radio [type="radio"]:not(:checked) {
		position: absolute;
		left: -9999px;
	}

	.multi-radio [type="radio"]:checked+label,
	.multi-radio [type="radio"]:not(:checked)+label {
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: #666;
	}

	.multi-radio [type="radio"]:checked+label:before,
	.multi-radio [type="radio"]:not(:checked)+label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 18px;
		height: 18px;
		border: 1px solid #ddd;
		border-radius: 100%;
		background: #fff;
	}

	.multi-radio [type="radio"]:checked+label:after,
	.multi-radio [type="radio"]:not(:checked)+label:after {
		content: '';
		width: 10px;
		height: 11px;
		background: #3276b1;
		position: absolute;
		top: 4px;
		left: 4px;
		border-radius: 100%;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.multi-radio [type="radio"]:not(:checked)+label:after {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	.multi-radio [type="radio"]:checked+label:after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	.styled-checkbox {
		position: absolute;
		opacity: 0;
	}

	.styled-checkbox+label {
		position: relative;
		cursor: pointer;
		padding: 0;
		color: #666;
		margin-bottom: 8px
	}

	.styled-checkbox+label:before {
		content: '';
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		background: white;
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12)
	}

	.styled-checkbox:hover+label:before {
		background: #3276b1;
	}

	.styled-checkbox:focus+label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	.styled-checkbox:checked+label:before {
		background: #3276b1;
	}

	.styled-checkbox:disabled+label {
		color: #b8b8b8;
		cursor: auto;
	}

	.styled-checkbox:disabled+label:before {
		box-shadow: none;
		background: #ddd;
	}

	.styled-checkbox:checked+label:after {
		content: '';
		position: absolute;
		left: 5px;
		top: 9px;
		background: white;
		width: 2px;
		height: 2px;
		box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
		transform: rotate(45deg);
	}

</style>

<div class="sa-content">


	<div class="d-flex w-100 home-header">
		<div>
			<h1 class="page-header">Search Settings </h1>
		</div>
	</div>
	<div class="d-flex w-100">
		<section id="widget-grid" class="w-100">
			<div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false"
				data-widget-editbutton="false" role="widget">
				<!-- widget options:
							usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
			
							data-widget-colorbutton="false"
							data-widget-editbutton="false"
							data-widget-togglebutton="false"
							data-widget-deletebutton="false"
							data-widget-fullscreenbutton="false"
							data-widget-custombutton="false"
							data-widget-collapsed="true"
							data-widget-sortable="false"
			
							-->

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body card card-2 p-5">

						<div class="widget-body">
							<ul id="myTab1" class="nav nav-tabs bordered">
								<li class="nav-item">
									<a href="#s1" data-toggle="tab" class="nav-link active show"><i
											class="fa fa-fw fa-lg fa-gear"></i>
										Keywords</a>
								</li>
								<li class="nav-item">
									<a href="#s3" data-toggle="tab" class="nav-link"><i
											class="fa fa-fw fa-lg fa-gear"></i>
										Notification</a>
								</li>
								<li class="nav-item">
									<a href="#s2" data-toggle="tab" class="nav-link"><i
											class="fa fa-fw fa-lg fa-gear"></i>
										Sources</a>
								</li>
							</ul>

							<div id="myTabContent1" class="tab-content padding-10">
								<div class="tab-pane active show p-4" id="s1">
									<p>
										<form method='POST' action="{% url 'project-setting' proid=pro.id %}">
											{% csrf_token %}
											<input type="hidden" name="keywords" value=1>
											<div class="row" style="justify-content:center">
												<div class="col-md-8">
													<div class="form-group row">

														<h3 class='pl-3 w-100 mb-4'>Project Name</h3>
														<div class="offset-md-2 col-md-8 pr-2 mb-3">
															<input class="form-control" value='{{pro.title}}' required
																name='title' placeholder="Project Name" type="text">
														</div>

														<h3 class='pl-3 w-100 mb-3'>Search Keywords</h3>


														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key1' value='{{pro.key1}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey1' value='{{pro.exkey1}}'>
														</div>

														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key2' value='{{pro.key2}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey2' value='{{pro.exkey2}}'>
														</div>

														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key3' value='{{pro.key3}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey3' value='{{pro.exkey3}}'>
														</div>

														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key4' value='{{pro.key4}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey4' value='{{pro.exkey4}}'>
														</div>

														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key5' value='{{pro.key5}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey5' value='{{pro.exkey5}}'>
														</div>

														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key6' value='{{pro.key6}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey6' value='{{pro.exkey6}}'>
														</div>

														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key7' value='{{pro.key7}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey7' value='{{pro.exkey7}}'>
														</div>

														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key8' value='{{pro.key8}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey8' value='{{pro.exkey8}}'>
														</div>

														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key9' value='{{pro.key9}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey9' value='{{pro.exkey9}}'>
														</div>

														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control" placeholder="Add Keyword"
																type="text" name='key10' value='{{pro.key10}}'>
														</div>
														<div class="col-md-6 pl-2 mb-3">
															<input class="form-control" placeholder="Exclude Keyword"
																type="text" name='exkey10' value='{{pro.exkey10}}'>
														</div>
													</div>
													<div class="row">

														<div class="col-md-6">
															<div class="form-group">
																<h3 class=' w-100 mb-3'>Filter By Location</h3>
																<select multiple="multiple" id="multiselect1"
																	class="form-control custom-scroll"
																	title="Click to Select a City">
																	<option>Amsterdam</option>
																	<option selected="selected">Atlanta</option>
																	<option>Baltimore</option>
																	<option>Boston</option>
																	<option>Buenos Aires</option>
																	<option>Calgary</option>
																	<option selected="selected">Chicago</option>
																	<option>Denver</option>
																	<option>Dubai</option>
																	<option>Frankfurt</option>
																	<option>Hong Kong</option>
																	<option>Honolulu</option>
																	<option>Houston</option>
																	<option>Kuala Lumpur</option>
																	<option>London</option>
																	<option>Los Angeles</option>
																	<option>Melbourne</option>
																	<option>Mexico City</option>
																	<option>Miami</option>
																	<option>Minneapolis</option>
																</select>
															</div>
														</div>
														<div class="col-md-12">
															<button type='submit'
																class='btn px-5 py-3	btn-primary ml-auto'
																style='font-size:1.2em'>SAVE</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</p>
								</div>
								<div class="tab-pane p-4" id="s3">
									<p>
										<form method='POST' action="{% url 'project-setting' proid=pro.id %}">
											{% csrf_token %}
											<input type="hidden" name="notifications" value=1>
											<div class="row" style="justify-content:center">
												<div class="col-md-8">
													<div class="form-group row"
														style='align-items:center;flex-direction:column'>
														<div class="col-md-6 pr-2 mb-3">
															<input class="form-control"
																placeholder="Enter Email for Recieving Notifications"
																type="email" required name='notification_email'
																value='{{pro.notification_email}}'>
														</div>
														<div class='col-md-6 pr-2 mb-3 multi-radio'>
															<h5>Select A Frequency of Notifications</h5>
															<p>
																<input type="radio" id="test1"
																	name="notification_duration"
																	{% if pro.notification_duration == '1' %} checked
																	{% endif %} value='1'>
																<label for="test1">Every hour</label>
															</p>
															<p>
																<input type="radio" id="test2"
																	name="notification_duration"
																	{% if pro.notification_duration == '4' %} checked
																	{% endif %} value='4'>

																<label for="test2">Every 4 hours</label>
															</p>
															<p>
																<input type="radio" id="test3"
																	name="notification_duration"
																	{% if pro.notification_duration == '8' %} checked
																	{% endif %} value='8'>

																<label for="test3">Every 8 hours</label>
															</p>
															<p>
																<input type="radio" id="test4"
																	name="notification_duration"
																	{% if pro.notification_duration == '12' %} checked
																	{% endif %} value='12'>

																<label for="test4">Every 12 hours</label>
															</p>
															<p>
																<input type="radio" id="test5"
																	name="notification_duration"
																	{% if pro.notification_duration == '24' %} checked
																	{% endif %} value='24'>

																<label for="test5">Every Day</label>
															</p>
															<p>
																<input type="radio" id="test6"
																	name="notification_duration"
																	{% if pro.notification_duration == '168' %} checked
																	{% endif %} value='168'>

																<label for="test6">Every Week</label>
															</p>
														</div>
														<div class="col-md-12">
															<button type='submit'
																class='btn px-5 py-3	btn-primary ml-auto'
																style='font-size:1.2em'>SAVE</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</p>

								</div>
								<div class="tab-pane" id="s2">
									<p>
										<form method='POST' action="{% url 'project-setting' proid=pro.id %}">
											{% csrf_token %}
											<input type="hidden" name="sources" value=1>
											<div class="row" style="justify-content:center">
												<div class="col-md-8">
													<div class="form-group row"
														style='align-items:center;flex-direction:column'>
														<div class='col-md-6 pr-2 mb-3 multi-radio'>
															<h5>Check Sources</h5>
															<ul class="unstyled centered p-0">
																<li>
																	<input class="styled-checkbox"
																		id="styled-checkbox-1" type="checkbox"
																		name="fb_source" {% if pro.fb_source == '1' %}
																		checked {% endif %} value='1'>
																	<label for="styled-checkbox-1">Facebook</label>
																</li>

																<li>
																	<input class="styled-checkbox"
																		id="styled-checkbox-2" type="checkbox"
																		name="inst_source"
																		{% if pro.inst_source == '1' %} checked
																		{% endif %} value='1'>
																	<label for="styled-checkbox-2">Instagram</label>
																</li>

																<li>
																	<input class="styled-checkbox"
																		id="styled-checkbox-3" type="checkbox"
																		name="twit_source"
																		{% if pro.twit_source == '1' %} checked
																		{% endif %} value='1'>
																	<label for="styled-checkbox-3">Twitter</label>
																</li>

																<li>
																	<input class="styled-checkbox"
																		id="styled-checkbox-4" type="checkbox"
																		name="you_source" {% if pro.you_source == '1' %}
																		checked {% endif %} value='1'>
																	<label for="styled-checkbox-4">Youtube</label>
																</li>


															</ul>
														</div>
														<div class="col-md-12">
															<button type='submit'
																class='btn px-5 py-3	btn-primary ml-auto'
																style='font-size:1.2em'>SAVE</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</p>

								</div>
							</div>
						</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end row -->

		</section>
	</div>
</div>
{% endblock 'content' %}
